#header{
    background-color: #fff !important;
    color: #79aec8;
    box-shadow: 0px 0px 3px 0px #ff0000;
}

#header a:link, #header a:visited {
color: #79aec8;
}

div.breadcrumbs{
    background-color: #1c1f1f;
}
